.flip-card {
  background-color: transparent;
  width: 100%;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  border-image-source: url('../../assets/border.png');
  border-image-slice: 50;
  border-image-repeat: repeat;
  border-image-width: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #1a2526;
  color: white;
}

/* Style the back side */
.flip-card-back {
  color: black;
  background-color: #e7cc93;
  transform: rotateY(180deg);
  padding: 15px;
}

.hero-swiper .swiper-button-next,.hero-swiper .swiper-button-prev {
  color: #e7cc93;
  font-size: 12px;
  cursor: url('../../assets/cursor/cursor2.png'), auto;
}
.hero-swiper .swiper-pagination-bullet .swiper-pagination-bullet-active{
  background: #e7cc93;
}